/* Variables */
$primary: #6f42c1;
$border-radius: 0.5rem;
$border-radius-sm: 0.75rem;
$border-radius-lg: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Map */
$font-weights:(
    "lighter": $font-weight-lighter,
    "light": $font-weight-light,
    "normal": $font-weight-normal,
    "bold": $font-weight-bold,
    "bolder": $font-weight-bolder
);

/* Mixin */
@mixin p-style() {
    color: $gray-900;
    font-weight: map-get($map: $font-weights, $key: "normal");
}

/* Extend */

.p {
    @include p-style();
}

.p--md {
    @extend .p;
    font-size: 1.1rem;
}

.p--lg {
    @extend .p;
    font-size: 1.3rem;
}

.title-body {
    text-align: center;
}

#color-title {
    color: #6f42c1;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.flexbox-container > div {
    width: 50%;
    padding: 10px;
}

.flexbox-container > div:first-child {
    margin-right: 20px;
}

.body-nosotros {
    margin: 5.5rem;
}

.text-body {
    margin-left: 2rem;
    font-weight: 400;
}