@use "custom";

@use "footer";
@use "navbar";
@use "pages/login";
@use "pages/main_index";


@media (min-width: 576px) {
    .pwd {
        max-width: 50%;
    }

    .flexbox-container {
        flex-direction: row;
    }
}


@media (min-width: 992px) {
    .footer-list {
        text-align: left;
    }

    #main-title {
        text-align: left;
    }

    #buttons-group {
        align-items: flex-start;
    }

    .text-hero {
        text-align: left;
    }

    .pwd {
        max-width: 25%;
    }

    .column {
        h5 {
            text-align: left;
        }
    }
}


